<section class="section section-alt" style='padding: 40px 0;'>
  <div class="container-fluid">
    <div class="section-header">
      <h1>
        Vamos
        <small class="light">conversar?</small>
      </h1>
    </div>
    <p class="lead text-center">
      Phasellus imperdiet volutpat elementum. Morbi sodales, lectus vel gravida viverra, erat urna pulvinar ipsum, non porta lorem nisi a est. Maecenas sodales volutpat sapien, at dignissim ligula pretium nec.
    </p>
    <hr>
    <div class="row-fluid">
      <% if flash[:notice] %>
        <div class="span12">
          <div class="alert alert-success">
            <button class="close" data-dismiss="alert" type="button">×</button>
              <strong>Muito obrigado!</strong>
              <%= flash[:notice] %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <%= form_tag send_contact_email_path, id: "contactForm", class: "contact-form", novalidate: "" do %>
          <div class="controls controls-row">
            <div class="control-group span6 <%= 'error' if @errors.include?(:name) %>">
              <%= text_field_tag :name, params[:name], class: "span12", placeholder: "seu nome" %>
              <%= render 'input_error', position: 'top' if @errors.include?(:name)%>
            </div>
            <div class="control-group span6 <%= 'error' if @errors.include?(:email) %>">
              <%= email_field_tag :email, params[:email], class: "span12", placeholder: "seu email" %>
              <%= render 'input_error', position: 'top' if @errors.include?(:email)%>
            </div>
          </div>
          <div class="controls controls-row">
            <div class="control-group span12">
              <%= text_field_tag :subject, params[:subject], class: "span12", placeholder: "assunto" %>
            </div>
          </div>
          <div class="controls controls-row">
            <div class="control-group span12 <%= 'error' if @errors.include?(:message) %>">
              <%= text_area_tag :message, params[:message], class: "span12", placeholder: "conte-nos o que tem em mente...", rows: 5 %>
              <%= render 'input_error', position: 'right' if @errors.include?(:message)%>
            </div>
          </div>
          <div class="controls controls-row">
            <div class="control-group span12">
              <button class="btn btn-primary" name="submitButton" type="submit" onclick="$('#contactForm').submit();">
                Enviar Mensagem
              </button>
            </div>
          </div>
        <% end %>
        <div id="messages"></div>
      </div>
      <div class="span6 contact-details" style='min-height: 150px;'>
        <ul class="icons">
          <li>
            <h4>
              <i class="icon-envelope"></i>
              Detalhes
            </h4>
            <p>
              Email: contato@codepolaris.com
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
