<!-- Promo Section -->
<section class="section section-alt">
  <div class="row-fluid">
    <div class="flexslider" data-flex-animation="slide" data-flex-controlsalign="center" data-flex-controlsposition="inside" data-flex-directions="hide" data-flex-speed="7000" id="intro">
      <ul class="slides">
        <li>
          <div class="super-hero-unit">
            <figure>
              <%= image_tag("assets/landscapes/office.png", alt: "some image") %>
              <figcaption class="flex-caption">
                <h1 class="super">
                  <%= t('promo.web_systems') %>
                </h1>
              </figcaption>
            </figure>
          </div>
        </li>

        <li>
          <div class="super-hero-unit">
            <figure>
              <%= image_tag("assets/landscapes/web_tecnologia.jpg", alt: "some image") %>
              <figcaption class="flex-caption">
                <h1 class="super">
                  <%= t('promo.innovation') %>
                </h1>
              </figcaption>
            </figure>
          </div>
        </li>

        <li>
          <div class="super-hero-unit">
            <figure>
              <%= image_tag("assets/landscapes/fon2.jpg", alt: "some image") %>

              <figcaption class="flex-caption">
                <h1 class="super">
                  <%= t('promo.multiplatform') %>
                </h1>
              </figcaption>
            </figure>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
