<!-- Our Services -->
<section class="section section-padded" id='services'>
  <div class="container-fluid">
    <div class="section-header">
      <h1>
        <%= t('title.our_plural') %>
        <small class="light"><%= t('title.specialties') %></small>
      </h1>
    </div>

    <ul class="unstyled row-fluid">
      <li class="span4">
        <div class="round-box box-big">
          <span class="box-inner">
            <%= image_tag("assets/landscapes/landscape-1-300x300.jpg", alt: "some image", class: "img-circle") %>
            <i class="icon-cloud"></i>
          </span>
        </div>

        <h2 class="text-center"><%= t('title.web_systems') %></h2>
        <p class="lead text-center">
          <%= t('text.web_systems') %>
        </p>
      </li>

      <li class="span4">
        <div class="round-box box-big">
          <span class="box-inner">
            <%= image_tag("assets/landscapes/landscape-2-e-300x300.jpg", alt: "some image", class: "img-circle") %>
            <i class="icon-lightbulb"></i>
          </span>
        </div>

        <h2 class="text-center"><%= t('title.design_ideas') %></h2>
        <p class="lead text-center">
          <%= t('text.design_ideas') %>
        </p>
      </li>

      <li class="span4">
        <div class="round-box box-big">
          <span class="box-inner">
            <%= image_tag("assets/landscapes/landscape-3-300x300.jpg", alt: "some image", class: "img-circle") %>
            <i class="icon-cogs"></i>
          </span>
        </div>

        <h2 class="text-center"><%= t('title.support') %></h2>
        <p class="lead text-center">
          <%= t('text.support') %>
        </p>
      </li>
    </ul>
  </div>
</section>
