<!-- Our work -->
<section class="section section-alt section-padded" id='work'>
  <div class="container-fluid">
    <div class="section-header">
      <h1>
        <%= t('title.our') %>
        <small class="light"><%= t('title.methodology') %></small>
      </h1>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <div class="flexslider margin-bottom" data-flex-directions="hide" data-flex-speed="10000" id="work">
          <ul class="slides">
            <li>
              <%= image_tag("assets/devices/security-process-1.png", alt: "some image") %>
            </li>

            <li>
              <%= image_tag("assets/devices/ipad-iphone.png", alt: "some image") %>
            </li>

            <li>
              <%= image_tag("assets/devices/macbook.png", alt: "some image") %>
            </li>
          </ul>
        </div>
      </div>

      <div class="span6">
        <ul class="icons">
          <li>
            <h4>
              <i class="icon-check"></i>
              <%= t('title.focus_on_quality') %>
            </h4>
            <p>
              <%= t('text.focus_on_quality').html_safe %>
            </p>
          </li>

          <li>
            <h4>
              <i class="icon-dashboard"></i>
              <%= t('title.agile') %>
            </h4>
            <p>
              <%= t('text.agile') %>
            </p>
          </li>

          <li>
            <h4>
              <i class="icon-mobile-phone"></i>
              <%= t('title.multiplatform_layout') %>
            </h4>
            <p>
              <%= t('text.multiplatform_layout') %>
            </p>
          </li>

          <li>
            <h4>
              <i class="icon-cog"></i>
              <%= t('title.support') %>
            </h4>
            <p>
              <%= t('text.support_methodology') %>
            </p>
          </li>

          <li>
            <h4>
              <i class="icon-wrench"></i>
              <%= t('title.rails') %>
            </h4>
            <p>
              <%= t('text.rails') %>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
