<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>CodePolaris - Software Development</title>
  <meta content="CodePolaris é a sua maior parceira no desenvolvimento de sistemas Web de qualidade utilizando metodologias ágeis. Queremos ajudar você a colocar sua brilhante ideia em prática." name="description">
  <meta content="software, development, agile, ágil, desenvolvimento, ideia, sistema, codepolaris, code, polaris, web, lean, startup, scrum, kanban, qualidade, quality, idea, system" name="keywords">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="google-site-verification" content="aXpoi_syRVWpfoJRA-Gg5TH7MBvYPukxjKGfuotBC-k" />
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="javascripts/PIE.js"></script>
  <![endif]-->
  <link href="favicon.ico" rel="shortcut icon">
  <link href="apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='fullwidth'>
  <!-- Change locale -->
  <div class='language_flags'>
    <% if I18n.locale == :en %>
      <%= link_to (image_tag "brazil.png", hover: 'Portuguese'), l: 'pt-BR' %>
    <% else %>
      <%= link_to (image_tag "usa.png", hover: 'English'), l: 'en' %>
    <% end %>
  </div>
  <br/>

  <div class="wrapper">
    <!-- Page Header -->
    <header id="masthead">
      <nav class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <h1 class="brand" data-no-turbolink>
              <%= link_to "Code<span class='light'>Polaris</span>".html_safe, root_path%>
            </h1>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right" data-no-turbolink>
                <li ><%= link_to t('link.home'), root_path %></li>
                <li class="anchor"><%= link_to t('link.services'), '/#services' %>
                <li class="anchor"><%= link_to t('link.methodology'), '/#work' %>
                <li class="anchor"><%= link_to t('link.contact'), '/#contact_form' %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Main Content -->
    <div id="content" role="main">

      <%= yield %>

    </div>
  </div>
  <!-- Page Footer -->
  <footer id="footer" role="contentinfo">
    <div class="wrapper wrapper-transparent">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span6 small-screen-center">
            <h3>
              Code
              <span class="light">
                Polaris
              </span>
            </h3>
            <p>
              <%= t('contact.email') %>
              <br/>

              <%= t('contact.phone') %>
              <br/>

              <%= t('contact.address') %>
              <br/>
              &copy; <%= t('contact.copyrights') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45413464-1', 'codepolaris.com');
    ga('send', 'pageview');

  </script>
</body>
