<!DOCTYPE html>
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if (gt IE 8)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <title>CodePolaris</title>
  <meta content="Bootsrap based theme" name="description">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="javascripts/PIE.js"></script>
  <![endif]-->
  <link href="favicon.ico" rel="shortcut icon">
  <link href="apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='fullwidth'>
  <div class="wrapper">
    <!-- Page Header -->
    <header id="masthead">
      <nav class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <h1 class="brand" data-no-turbolink>
              <%= link_to "Code<span class='light'>Polaris</span>".html_safe, root_path%>
            </h1>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right" data-no-turbolink>
                <li ><%= link_to "Home", root_path %></li>
                <li class="anchor"><%= link_to "Especialidades", '/#services' %>
                <li class="anchor"><%= link_to "Metodologia", '/#work' %>
                <li class="anchor"><%= link_to "Vamos", '/#lets_work' %>
                <li ><%= link_to "Contato", contact_path %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Main Content -->
    <div id="content" role="main">

      <%= yield %>

    </div>
  </div>
  <!-- Page Footer -->
  <footer id="footer" role="contentinfo">
    <div class="wrapper wrapper-transparent">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span6 small-screen-center">
            <h3>
              Code
              <span class="light">
                Polaris
              </span>
            </h3>
            <p>
              contato@codepolaris.com
              <br>
              &copy; Copyright 2013
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    if (typeof gaJsHost == 'undefined') {
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    }
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("#########");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>